.jumbotron{
    background-image: linear-gradient(to right top, #D10707,#F6E704 );
}

.letra-blanca{
    color: white;
}
.card-comida-rapida{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
   margin-top: 10px;
}
.imagenUp{
    margin-top: -80px;
}
footer{
    background-image: linear-gradient(to right top, #D10707,#F6E704 );
    padding: 10px 10px 0 10px;
    margin-top: 20px;
}
.card-comida{
    flex: 1 150px;
    padding: 3px 6px 3px 6px;
   
}
.btn-reserva{
    width: 100%;
}
.btn-button{
    background-color: azure;
    color: black;
    
}
.img-fluid{
    height: 650px;
}
.tab-content{
    padding-top: 10px;
}
body{
   background-color: #EEFFFF;
}
